@font-face {
   font-family: "League Spartan";
   src: url("fonts/League Spartan Bold.woff2") format("woff2");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "GenYoMin2 PJP R";
   src: url("fonts/GenYoMin2 PJP R.woff2") format("woff2");
   font-weight: normal;
   font-style: normal;
}